/* By Rodolfo Terra */


body{
	background: radial-gradient(circle, #666, #333, #000);
}

.row{
	margin-bottom: 50px;
	margin-top: 50px;
}

.preloader  {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
}

.status  {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: #FFF url(../img/load.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.bemvindo{
	color: #FFF;
}